<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<h1> Vulnerability Risk Matrix </h1>

<div data-controller="pivottable"
       data-pivottable-rows-value='["Risk"]'
       data-pivottable-cols-value='["LID"]'
       data-pivottable-sum-value='["Hosts"]'
>
  <div id="maxtrix_pivot" data-pivottable-target="pivot">
  </div>

  <br />

  <h1> Vulnerability Risk Data </h1>
  <table id="matrix_summary" class="table table-bordered" role="matrixtable"
   data-pivottable-target="input">
   <thead>
    <tr>
      <th>Risk</th>
      <th>LID</th>
      <th>Hosts</th>
    </tr>
   </thead>
   <tbody>
    <% @matrix.each do |entry| %>
    <tr>
      <td><%= entry[:risk] %></td>
      <td><%= entry[:lid] %></td>
      <td><%= entry[:count] %></td>
    </tr>
    <% end %>
   </tbody>
  </table>

