<% if can? :navigate, :configuration %>
  <li class="dropdown <%= configuration_active_class %>">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= t('boskop.configuration') %><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% Boskop::CONFIGURATION_CONTROLLER.each do |ctrlr| %>
	<li>
	  <%=link_to t('controller.' + ctrlr), main_app.send("#{ctrlr}_path")%>
	</li>
      <% end %>
    </ul>
  </li>
<% end %>
