<% if hostable.present? %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span> 
      <%= link_to "#{t('boskop.applied_filter')}: #{hostable.to_s}",
                  polymorphic_url([hostable, :hosts]) %>
     </span>
  </div>
<% end %>
