devise_modules:
  - :remote_user_authenticatable
  - :database_authenticatable 
  - :registerable 
  - :recoverable 
  - :rememberable
  - :trackable

# 
# used in action_mailer
#

host: example.com
script_name: /lackmus

mail_from: sender@example.com
default_recipient: default@example.com
always_cc: 
  - always_cc@example.net
  - always_cc@example.com

#
# Url for Nessus API
#

nessus_url: https://nessus.example.org:8834

#
# ldap_options: used in contacts -> new user from ad
# 
ldap_options:
  host: example.com
  port: 3268
  base: dc=example,dc=com
  auth:
    method: :simple
    username: asimpleuser
    password: *****

#
# blacklists for non unique serial/uuid
#
uuid_blacklist:
  - 00000000-0000-0000-0807-060504030201
  - 03000200-0400-0500-0006-000700080009
  - FFFFFFFF-FFFF-FFFF-FFFF-FFFFFFFFFFFF

serial_blacklist:
  - System Serial Number
  - To be filled by O.E.M.
  - To Be Filled By O.E.M.
  - OEM
  - (n/a)
  - noSuchObject
  - noSuchInstance
  - INVALID
  - -

