devise_modules:
  - :remote_user_authenticatable
  - :database_authenticatable 
  - :registerable 
  - :recoverable 
  - :rememberable
  - :trackable

host: example.com
# script_name: lackmus

nessus_url: https://nessus.example.org:8834
