// ------------------------------------------------------------------------
// bootstrap
// ------------------------------------------------------------------------
$font-family-sans-serif:
  // Android
  Roboto,
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$primary: #166E7D;
$toast-max-width: 500px;

@import "bootstrap/scss/bootstrap";
@import "common";

// ------------------------------------------------------------------------
// FONTS
// ------------------------------------------------------------------------
@font-face {
        font-family: 'Roboto';
        src: font-url('Roboto-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
}
@font-face {
        font-family: 'Roboto';
        src: font-url('Roboto-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
}
@font-face {
        font-family: 'Roboto';
        src: font-url('Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
}
@font-face {
        font-family: 'Roboto';
        src: font-url('Roboto-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
}

// ------------------------------------------------------------------------
// main
// ------------------------------------------------------------------------


body {
  padding-top: 60px;
}

// --- FOOTER
div#footer{
  font-size: 0.9em;
  color: #999;
  margin-top: 24px;
  padding-top: 4px;
  border-top: 1px solid #eee;
}

.table {
  tfoot {
    display: table-header-group;
    th {
      padding: 0.25rem;
      input[type="text"] {
        width: 100%;
        padding: 0.25rem;
        border-radius: 0.25rem;
        box-sizing: border-box;
        border: 1px solid #ced4da;
      }
    }
  }
  caption {
    caption-side: top;
  }
}

.turbo-progress-bar {
  height: 5px;
  background-color: white;
}

// --- cell states

tr, td {
  &.CRITICAL, &.red {background-color: #FFBFBF !important;}
  &.WARNING, &.yellow {background-color: #FF9 !important;}
  &.OK, &.green {background-color: #C3FFBA !important;}
}

.autowidth { width: auto; }
.width25 { width: 25%; }
.width50 { width: 50%; }

.bs-subform:before {
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bs-subform {
  background-color: #f8f8f8;
  background-image: none;
}

// .bs-merkmale:before {
//   content: "<%= I18n.t('controller.merkmale') %>" ;
// }
// .bs-addresses:before {
//   content: "<%= I18n.t('controller.addresses') %>" ;
// }
// .bs-optional:before {
//   content: "<%= I18n.t('actions.optional') %>" ;
// }
// .bs-mandantory:before {
//   content: "<%= I18n.t('actions.mandantory') %>" ;
// }

dl {  
  dt {
    font-weight: bold;
    text-decoration: underline;
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 0em;
  }
}

.btn {
  margin-bottom: .2em;
}

.subtitle {
  color: #999;
}

form.button_to {
  display: inline-block;
}

// ------------------------------------------------------------------------
// required/mandantory fields
// ------------------------------------------------------------------------
.required {
  span.select-selection,
  select.required + div.ts-wrapper,
  textarea.required, input.required, select.required {
    background-color: #FFFAC2;
  }
} 

select.required + div.ts-wrapper {
  background-color: #FFFAC2;
}

td.mandantory {
  background-color: #FFFAC2;
} 

