<p>
Anbei erhalten Sie die aktuellen Schwachstellen für den Standort <%= @lid %>.
Sie können eine aktuelle Übersicht auch online abrufen unter
<%= link_to "Boskop / Schwachstellen / Suche", main_app.search_vulnerabilities_url(critical: 'on', current: 'on', limit: 0, lid: @lid) %>.
Bitte loggen Sie sich dazu vorher in Boskop ein. Benötigte Rechte: Hostmanager.
</p>
